@page "/file-analysis/{storedFileId:guid}"

@using CryTraCtor.Business.Facades.Interfaces
@using CryTraCtor.Business.Models.FileAnalysis
@inject IFileAnalysisFacade FileAnalysisFacade
@inject ISnackbar Snackbar

<h3>File Analysis</h3>

<MudPaper Class="pa-4 mb-4">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.Science"
               OnClick="@GenerateFileAnalysis">
        Analyze
    </MudButton>
</MudPaper>

<MudDataGrid Items="@_fileAnalysisEntries">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="Id"/>
        <PropertyColumn Property="x => x.Name" Title="Name"/>
        <PropertyColumn Property="x => x.CreatedAt" Title="Created At"/>
    </Columns>
</MudDataGrid>

@code {
    [Parameter] public Guid StoredFileId { get; set; }
    private List<FileAnalysisListModel> _fileAnalysisEntries = new();

    protected override async Task OnInitializedAsync()
    {
        _fileAnalysisEntries = (await FileAnalysisFacade.GetByStoredFileIdAsync(StoredFileId)).ToList();
    }

    private void GenerateFileAnalysis()
    {
        // TODO: Implement actual file analysis logic
        throw new NotImplementedException("File analysis functionality is not yet implemented.");
    }
}
