@page "/Files"

@using System.Net.Http.Json
@using CryTraCtor.Business.Facades
@using CryTraCtor.Business.Facades.Interfaces
@using CryTraCtor.Business.Models.StoredFiles
@inject HttpClient httpClient
@inject IStoredFileFacade storedFileFacade

<h3>Files</h3>
<MudDataGrid Items="@Elements.Take(4)">
    <Columns>
        <PropertyColumn Property="x => x.Number" Title="Nr"/>
        <PropertyColumn Property="x => x.Sign"/>
        <PropertyColumn Property="x => x.Name"/>
        <PropertyColumn Property="x => x.Position"/>
        <PropertyColumn Property="x => x.Molar" Title="Molar mass"/>
    </Columns>
</MudDataGrid>

@code {

    // private IEnumerable<StoredFileListModel> _elements = new List<StoredFileListModel>();
    private IEnumerable<StoredFileListModel> Elements = new List<StoredFileListModel>();

    // public partial class ConstructorInjector(
    //     IStoredFileFacade storedFileFacade
    // )
    // {
    //     private IStoredFileFacade StoredFileFacade => storedFileFacade;
    //
    //     public IEnumerable<StoredFileListModel> StoredFilesGetAll()
    //     {
    //         return this.StoredFileFacade.GetAll();
    //     }
    // }



    protected override async Task OnInitializedAsync()
    {
        Elements = storedFileFacade.GetAll();
        // _elements = await httpClient.GetFromJsonAsync<List<StoredFileListModel>>("webapi/periodictable");
    }

}
